/* CARD */
.card-body {
    text-align: left;
  }

.card {
  margin: 2% 0% 2% 0%;
}

.board_content{
    padding: 3% 7% 3% 7%
}

@media screen and (max-width: 701px) {
  .board_content{
    padding: 5% 7% 5% 7%
  }
}
