/*------UNIVERSAL_STYLING----------------*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
h1 {
  font-size: 2rem;
  font-weight:600;
}
h2{
  font-size: 1.4rem;
  font-weight:500;
}
p {
  font-size: 1rem;
}


/*-----NAVBAR--------------*/
  .navbar{
    height: 10rem;
    box-shadow: 0 0  1rem 0 #FFC6D9;  
    border-bottom: .2rem solid #FFC6D9;
  }
  
  .nav-item{
    margin: 1rem;
    font-size: 1.5rem;
  }
  
  .navbar-brand{
    font-size: 1.8rem;
    margin: 1rem;
  }
  
  .nav-item:after {
    display:block;
    content: '';
    border-bottom: solid 2.5px #65D2FB;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  
  .nav-item:hover:after { 
    transform: scaleX(1); 
    transform-origin:100% 50%; 
  }

  .dropdown:hover>.dropdown-menu {
    display: block;
   }

   .dropdown-menu {
    margin: 0.125rem 0 0;
  }

/*-----FOOTER---------------*/
  .footer-top {
    clear: both; 
    border-bottom: 1px solid #cccccc;
  }
  
  .footer-bottom {
    border-bottom: 1px solid #cccccc;
    clear: both;
  }

  .footer-item {
    margin: .5rem;
    text-decoration: none;
    color: #000000;
  }

  .ul:hover {
    text-decoration:underline;
  }

/*---CONTACT_BUTTONS------*/
  .fa {
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
  }