h1 {
  font-size: 30px;
  font-weight: normal;
  font-family: 'Poppins', 'sans-serif';
}

h3 {
  font-size: 24px;
  font-weight: normal;
  font-family: 'Poppins', 'sans-serif';
}

p {
  font-size: 18px;
  font-family: 'Poppins', 'sans-serif';
}

.margin {
  margin: 0 7% 0 7%;
}

.sameline {
  display: inline-block;
}

.wrap {
  word-wrap: break-word;
}

.container-fluid {
  padding: 0;
}

/*-----NAVBAR--------------*/
  .navbar{
    box-shadow: 0 0  1rem 0 #FFC6D9;  
    border-bottom: .2rem solid #FFC6D9;
    padding: 0 7% 0 7%;
  }
  
  .nav-item{
    margin: 1rem;
    font-size: 1.2rem;
    margin-right: 0;
  }

  .nav-link {
    padding-right: 0 !important;
  }
  
  .navbar-brand{
    font-size: 1.5rem;
    margin: 1rem;
    padding-left: 0;
    margin-left: 0;
  }

  .lg-view{
    display:inline-block;
  }
 
 .sm-view{
    display:none;
  }

  @media screen and (max-width: 600px) {
    .lg-view{
       display:none;
    }

    .sm-view{
       display:inline-block;
       position: relative;
       top: 15px;
    }

    .navbar-brand{
      font-size: 1.2rem;
    }
}

  
  
  .nav-item:after {
    display:block;
    content: '';
    border-bottom: solid 2.5px #65D2FB;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  
  .nav-item:hover:after { transform: scaleX(1); }
  
  .nav-item:hover:after { 
    transform-origin:100% 50%; 
  }

  .dropdown:hover>.dropdown-menu {
    display: block;
   }

   .dropdown-menu {
    margin: 0.125rem 0 0;
  }

/* CARD */
  .card-body {
    text-align: left;
  }

  .card {
    margin: 2% 0% 2% 0%;
  }

/*-----FOOTER---------------*/
  .footer-top {
    clear: both; 
    border-bottom: 1px solid #cccccc;
  }
  
  .footer-bottom {
    border-bottom: 1px solid #cccccc;
    clear: both;
  }

  .footer-item {
    margin: .5rem;
    text-decoration: none;
    color: #000000;
    margin-left: 0;
  }

  .ul:hover {
    text-decoration:underline;
  }

/*---CONTACT_BUTTONS------*/
  .fa {
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
  }
  
